body{
    background-color: #131212;
}
/* header{
    text-align: center;
}
h1{
    color: white;
    font-size: 4em;
}
.banniere{
    background: url("Assets/Anime-All-Stars-Generation-Wallpaper-by-ryokia96-on-DeviantArt-1024x640.png") no-repeat;
    width: auto;
    background-position: center;
    background-size: cover;
    height: 600px
}   
button{
    background: linear-gradient(180deg, #CE99EC, #8AD4EB);
    height: 100px;
    width: 300px;
    box-shadow: white 3px 3px 3px;
    font-size: 3em;
}
#button{
    text-align: center;
}
.gradient {
    background: linear-gradient(180deg, #CE99EC, #8AD4EB);
} */
body{

    background-color: #e1f1dd;
}
html{
    padding: 0;
    margin: 0;
}
.carre {
    width: 1300px;
    height: 600px;
    background-color:#cdc7be;
    margin: auto;
    border-radius: 15px;
    box-shadow: grey 3px 3px 3px;
}
h2{
    text-align: center;
    color: #cdc7be;
    text-shadow: black 1px 1px 1px;
    font-size: 3em;
    font-family: 'Cinzel', serif;
    font-weight:bolder;
}
h4{
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
}
.question img{
    width: 500px;
    height: 270px;
    box-shadow: grey 3px 3px 3px;
    border-radius: 50%;
}
.enbas img {
    width: 90px;    

}
h5{
    padding-left: 60px;
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
}
label{
    font-family: 'Nanum Myeongjo', serif;

}
#timer{
    background-color: white;
    width: 45px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}
#deco img{
    width: 150px;

}
#deco{
    position: absolute;
    top: 36em;
    left: 50px;
}
#score{
    display: none;
    text-align: center;
    height: 500px;
    flex-direction: column;
    justify-content: space-around;
}

@media (max-width: 700px) {
    .question img{
        width: 200px;
        height: 200px;
    }
    #deco{
        left: -50px;
    }
    .carre{
        display: flex;
        flex-direction: column;
        width: 350px;
    }
    .enbas img {
        width: 90px;  
        padding-top: 70px;
    }
    h5{
        padding-left: 0px;
    }
}
/* @media (min-width: 700px) {
    .question img{
        width: 300px;
        height: 280px;
    }
    #deco{
        left: 0px;
    }
    .carre{
        display: flex;
        flex-direction: column;
        width: 650px;
    }
    .enbas img {
        width: 90px;  
    }
    h5{
        padding-left: 0px;
    }
    label{
        font-size: 1.5em;
    }
} */
/* 
@media (min-width: 1000px ) {
    .question img{
        width: 300px;
        height: 280px;
    }
    #deco{
        left: 120px;
    }
    .carre{
        display: flex;
        flex-direction: column;
        width: 650px;
    }
    .enbas img {
        width: 90px;  
    }
    h5{
        padding-left: 0px;
    }
    label{
        font-size: 1.5em;
    } */
}
/* @media (min-width: 1500px ) {
    .question img{
        width: 500px;
        height: 270px;
    }
    #deco{
        left: 50px;
    }
    .carre{
        display: flex;
        flex-direction: column;
        width: 1300px;
        height: 600px;
    }
    .enbas img {
        width: 90px;  
    }

    label{
        font-size: 1.5em;
    }
} */
